/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}

/* CSS VARIABLES  */

:root{
    --navbar-height:
}

#navbar{
    display: flex;
    align-items: center;
    height: 100px;
}
/* #navbar ul li a{
    justify-content: center;
} */

/*Navigation bar: Logo and Images */

#logo{
    height: 56px;
    margin: 34px 45px;
}
#logo img{
    margin: -14px -4px;
}

/*Navigation bar: List styling */
#navbar{
    position: relative;
}

#navbar ul{
    display: flex;
    margin-left: 29rem;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height:  100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    margin-top: -76px;
}
#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
    margin-top: -32px;


    position: relative;
    overflow: hidden;



}



#navbar ul li::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ff9800;
    transform: translateX(-100%);
    transition: all 0.7s;
}



#navbar ul li:hover::before{
    transform: translateX(0%);
}








#navbar ul li a{
    /* color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    transition: all 0.3s ease */



    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.4s;
    margin: 21px;
    text-shadow: 1px 1px 1px black;




}



#navbar ul li:hover a{
    color: #ff9800;
    /* text-shadow: -1px -1px 10px #ff9800; */
}



/* Home Section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 342px;
    justify-content: center;
    align-items: center;

}
#home::before{
    content: "";
    position: absolute;
    background: url('bg11.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

/* Utility classes */

h1{
    font-size: 2.8rem;
    margin-right: 346px;
}

#home p{
    margin-bottom: 42px;
    font-size: 1.3rem;
    margin-right: 417px;
    margin-top: 42px;
}
.btn{
    padding: 6px 20px;
    border: 1.5px solid orange;
    background-color: rgb(247, 230, 199);
    margin: 17px;
    border-radius: 10px;
    margin-right: 734px;
    transition: all 0.3s ease
}
.btn:hover{
    background-color: lightyellow;
    color: rgb(7, 5, 5);
    box-shadow: 0 5px 15px rgb(243 144 31 / 40%);
    cursor: pointer;
    /* transition: all 0.3s ease-in-out; */
}

/* Welcom */

#welcom{
    margin: 50px;
    background: linear-gradient(to left, #fff9f9 6%, #ffccff 114%);

}

h2{
    text-align: center;
    font-size: 2.2rem;
    margin-top: 107px;
    text-decoration: underline;
    text-decoration-color: #ff9800;
    background: linear-gradient(to left, #ffbebe 6%, #e0bbe0 114%);
}
.welcomefirst{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to left, #ffbebe 6%, #e0bbe0 114%);

}
#welcome .second{
    margin-left: 375px;
    font-size: 1.2rem;
    margin-top: 100px;
}
#icon{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to left, #ffbebe 6%, #e0bbe0 114%);
}
#icon .box{
    margin: 20px;
    border-radius: 10px;
    transition: all 0.3s ease
}
#icon .box:hover{
    background-color: #ffffc6;
    box-shadow: 0 5px 15px rgb(255 254 14 / 40%);
}
.box h3{
    text-align: center;
    justify-content: center;
    padding: 10px;
    text-decoration: underline;
    text-decoration-color: #ff9800;
    
}

.welcomefirst .umb{
    margin-top: 40px;
}
#welcome .box{
    border: 2px solid #ff9800;
    width: auto;
    padding: 20px;
    background-color: white;
}
#welcome .box img{
   height: 100px;
   
    display: block;
    margin: auto;
    padding: 10px;
}    

/* project */

.project{
    background: linear-gradient(to left, #39c7eb 6%, #a4daa2 114%);

}

#projectwali{
    text-align: center;
    font-size: 2.2rem;
    text-decoration: underline;
    text-decoration-color: #ff9800;
}
.projecttype{
    display: flex;
    margin-top: 64px;
}
.projectbox{
    border: 2px solid #ff9800;
    width: auto;
    padding: 20px;
    margin: 23px;
    border-radius: 10px;
}
.projecttype .projectbox{
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease
}
.projecttype .projectbox:hover{
    background-color: #ffffc6;
    box-shadow: 0 5px 15px rgb(255 254 14 / 40%);
}
.projectbox img{
    height: 100px;
    display: block;
    margin: auto;
    padding: 10px;
}
.projectbox h3{
    font-size: 1.3rem;
    padding: 16px;
    margin: 5px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    text-decoration: underline;
    text-decoration-color: #ff9800;
}
.projectbox .projectwalabutton{
    padding: 9px;
    font-size: 0.9rem;
    display: block;
    margin: auto;
    margin-top: 34px;
    border-radius: 10px;
    transition: all 0.3s ease
}
.projectbox .projectwalabutton:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(226, 155, 0);
    box-shadow: 0 5px 15px rgb(243 144 31 / 40%);
    cursor: pointer;
}
.projectbox a{
    text-decoration: none;
   
}
.projectbox a:hover{
    color: rgb(226, 155, 0);
}


/* team  */

.team{
    background: linear-gradient(to left, #ffbebe 6%, #e0bbe0 114%);
}

.team h4{
    text-align: center;
    margin-top: 3px;
    font-size: 2.2rem;
    text-decoration: underline;
    text-decoration-color: #ff9800;
}
.teambb{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.teamaa{
    /* display: flex; */
    /* border: 2px solid #fac473; */
    width: auto;
    padding: 20px;
    margin: 23px;
    border-radius: 10px;
    margin-top: 77px;

}
.teamaa img{
    display: block;
    margin: auto;
}

.imagescollection h4{
    font-size: 1.3rem;

}
.imagescollection p{
    text-align: center;
    justify-content: center;
}
.imagescollection img{
    margin: 2px;
    margin-top: -65px;
    padding: 8px;
    border-radius: 50%;
}
.imagescollection h4{
    font-size: 1.3rem;
    padding: 16px;
    margin: -10px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    text-decoration: underline;
    text-decoration-color: #ff9800;
}
.imagescollection p{

}
.teamaa .imagescollection{
    
    transition: all 0.3s ease
}
.teamaa .imagescollection:hover{
    background-color: lightyellow;
    box-shadow: 0 5px 15px rgb(243 144 31 / 40%);
}

.teamcc{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

/* Life in Zippy */

.life{
    background: linear-gradient(to left, #a7efff 6%, #d4ffd2 114%);
    height: 570px;
}

.life h4{
    text-align: center;
    margin-top: 3px;
    font-size: 2.2rem;
    text-decoration: underline;
    text-decoration-color: #ff9800;
}
.lifeaa{
    display: flex;
    margin-top: 107px;
    margin-bottom: 55px;
    justify-content: space-evenly;
}
.lifebb img{
    height: 260px;
    transform: scale(0.8);
    transition-duration: 1s;
    margin-top: 21px;
    border-radius: 10px;
}
.lifebb img:hover{
    transform: scale(1.0);
    cursor: pointer;
    box-shadow: 0 5px 15px black;
    border-radius: 30px;
}

/* newsletter */


.newsletter{
    padding: 7% 15%;
    width: 70%;
    height: 16vh;
    background-size: cover;
    background-position: center;
    color: white;
}
.btn:hover{
    background-color: lightyellow;
    color: rgb(7, 5, 5);
    box-shadow: 0 5px 15px rgb(243 144 31 / 40%);
    cursor: pointer;
}
input[type=text]{
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 400px;
}

/* Blog */
.blog{
    background: linear-gradient(
        45deg
        , black, transparent);
}

.blog h4{
    text-align: center;
    margin-top: 3px;
    font-size: 2.2rem;
    text-decoration: underline;
    text-decoration-color: #ff9800;

}
.singleblog{
    border: 2px solid rgb(255, 233, 204);
    margin: 38px;
    padding: 28px;
    margin-top: 100px;
}
.singleblog h3{
    font-size: 1.3rem;
    padding: 16px;
    margin: 5px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    text-decoration: underline;
    text-decoration-color: #ff9800;
}
.singleblog h6{
    text-align: center;
    justify-content: center;
    margin: 14px;
    padding: 2px;
}
.allblogs{
    display: flex;
    flex-direction: row;
    /* margin-bottom: 44px; */
    /* justify-content: space-evenly; */
}
.singleblog img{
    display: block;
    margin: auto;
    height: 155px;
}
.singleblog{
    margin: 44px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-top: 45px;
    margin-bottom: 50px;
}
.singleblog:hover{
    background-color: #ffffc6;
    box-shadow: 0 5px 15px rgb(255 254 14 / 40%);
}
.blogwalabutton{
    /* border-radius: 5px; */
    padding: 9px;
    font-size: 0.9rem;
    display: block;
    margin: auto;
    margin-top: 34px;
    border-radius: 10px;
    transition: all 0.3s ease
}
.blogwalabutton:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(226, 155, 0);
    box-shadow: 0 5px 15px rgb(243 144 31 / 40%);
    cursor: pointer;
}

/* contact */



.b1{
    display: flex;
    flex-direction: row;
}
.b2 img{
    height: 559px;
    
    margin-left: 0px;
    padding: 00px;

}
.b1 .b2{
    border: 2px solid red;
    width: 523px;
}
.b1 #b2{
    width: 50%;
    width: 732px;
}
.b3 .b2{
    border: 2px solid green;
    height: 563px;
    width: 600px;
    background:linear-gradient(to left, #ffe500 6%, #87cdff 114%);
}
.b3 .b2 h4{
    text-align: center;
    margin-top: 3px;
    font-size: 2.2rem;
    text-decoration: underline;
    text-decoration-color: #ff9800;
}
form{
    margin-left: 178px;
    margin-top: 35px;
}
form .contactwalabutton{
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 25rem;
    padding: 6px;
    background-color: rgb(255 255 189);
    margin-top: 12px;
}
form .contactwalabutton:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(226, 155, 0);
    box-shadow: 0 5px 15px rgb(243 144 31 / 40%);
    cursor: pointer;
}





.map img{
    border-radius: 2px;
    border: 2px solid black;
    height: 569px;
}





/* footer  */
.social-icon{
    margin: 20px 10px;
    font-size: 20px;
}

.last-section{
    background-color: white;
    padding: 40px 40px 20px 40px;
    color: black;
    /* margin-left: 0; */
    height: 68px;
    margin-top: -33px;
}
.office{
    font-weight: 700;
    text-align: center;
}
#pricing{
    background-color: white;
    padding-top: 80px;
}
.grid{
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 30px;
    align-items: center;
}
.grid h3{
    padding-top: 1rem;

}
.grid .text p{
    color: gray;
    font-weight: 600;
}
.grid > article{
    background: rgb(0, 153, 255);
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    width: 350px;
    transition: transform .3s;
}
.grid > article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);

}
.container .text{
    padding: 0 20px 20px;
}
.text button{
    background: rgba(18, 236, 47, 0.8);
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    cursor: pointer;

}
.text button:hover{
    background: tomato;

}
.caroussel-container{
    overflow: hidden;
    height: 650px;
    width: 100%;
    margin: auto;
    position: absolute;
}
.caroussel{
    width: 100%;
    position: relative;
    left: 0;
    display: flex;
}


.fc{
    display: flex;
}




.row{
    display: flex; border-radius: 2px solid red;
    justify-content: space-around;
}
.zz{
    /* border-radius: 2px solid red;
    border: 2px solid; */
}
.zz p{
    padding: 5px;
    margin-top: 12px;
}
.fa-twitter:before {
    /* text-align: center; */
    content: "\f099";
    display: block;
    margin: auto;
    margin-left: 57px;
}